/* body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

/* background */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
}

/* icon */
#wrapper {
    max-width: 800px;
    padding: 8px 0;
    margin: 0 20px;
}

#search-wrap {
    display: flex;
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 10px;
    width: auto;
}

/* github X */
.header-icon, .header-icon-X {
    color: white;
    font-size: 24px;
    margin-left: 10px;
    text-decoration: none;
}

.header-icon:hover, .header-icon-X:hover {
    color: #fff56aee;
}

/* tile */
#title h3 {
    text-align: center;
    font-size: 58px;
    padding-top: 80px;
}

/* h1 */
h1 {
    text-align: center;
    padding-top: 80px;
    font-size: 45px;
}

/* colored-line */
.colored-line::before {
    content: "";
    display: inline-block;
    width: 5px; 
    height: 30px; 
    background-color: #ffd900; 
    margin-right: 20px;
    margin-left: 20px; 
    vertical-align: middle; 
    font-size: 30px;
}

.name-line::before {
    background-color: #8fe823d1;
}

.birthplace-line::before {
    background-color: #ea4848d1;
}

.university-line::before {
    background-color: #48fcffd1;
}

.pastime-line::before {
    background-color: #f48e2ed1;
}

.trip-line::before {
    background-color: #5878f7d1;
}

.it-line::before {
    background-color: #0f99eed1;
}

.site-line::before {
    background-color: #c90707d1;
}

/* hr */
hr {
    border: none;
    border-bottom: 1px solid #a8a2a2c4;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* p */
p {
    font-size: 25px;
    margin: 20px;
    text-align: center;
}

/* name */
.name {
    text-align: left;
    font-size: 25px;
    margin-left: 50px;
}

/* link */
a {
    text-decoration: none;
    color: inherit;
}

a.special-link {
    color: white; 
    text-decoration: underline; 
    transition: color 0.3s, text-decoration-color 0.3s; 
}

a.special-link:hover {
    color: #daa14dee; 
    text-decoration-color: #daa14dee; 
}

/* contents */
#toc {
    max-width: 50%; 
    margin: 20px auto; 
    padding: 20px;
    background: none; 
    color: white;
    border: 1px solid white; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 18px;
}

#toc h2 {
    text-align: center;
    margin-top: 0;
}

#toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#toc ul li {
    margin-bottom: 10px;
}

#toc a {
    text-decoration: none;
    color: white; 
}

#toc a:hover {
    text-decoration: underline;
} 

:target {
    scroll-margin-top: 50vh; 
}

.pastime-list {
    margin-left: 20px; 
    padding-left: 50px;
}

/* overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 7; 
}

/* footer */
footer {
    text-align: center;
    font-size: 15px;
    color: #ccc;
}

/* custom */
.custom-button-container {
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid white; 
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin: 20px 0;
    position: relative;
    overflow: hidden;
}

.custom-button::before {
    text-align: center;
    content: "";
    position: absolute;
    top: 5px; 
    left: 5px; 
    right: 5px; 
    bottom: 5px; 
    border: 1px solid white; 
    border-radius: 1px;
    transition: border-color 0.3s;
    pointer-events: none; 
}

.custom-button:hover {
    background-color: white;
    color: black;
}

.custom-button:hover::before {
    border-color: black;
}

/* menu */
#menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 150px;
    background: linear-gradient(45deg, #1a2a6c, #b21f1f, #fdbb2d);
    padding: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform: translateY(100%);
    transition: transform 0.8s, opacity 0.8s;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.7);
    z-index: 10;
    opacity: 0; 
}

#menu.active {
    transform: translateY(0);
    opacity: 1; 
}

.menu-item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.menu-item i {
    margin-right: 10px;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}

/* button */
#menu-button, #back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #b09600d8;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s, transform 0.3s;
    z-index: 20; 
}

/* menu */
#menu-button.rotate {
    transform: rotate(360deg);
}

/* back */
#back-button {
    top: 20px;
    left: 20px;
}

#menu-button:hover, #back-button:hover {
    background-color: #ffd900d8;
}


/* scroll */
.scrolldown3{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation: mousemove 1.6s ease-in-out infinite;
}
  
@keyframes mousemove{
    0%{bottom:10px;}
    50%{bottom:5px;}
    100%{bottom:10px;}
}

.scrolldown3 span{
    position: absolute;
    left:-15px;
    bottom:45px;
    color: #eee;
    font-size: 0.7rem;
    letter-spacing: 0.05em;
}

.scrolldown3 span::after{
    content: "";
    position: absolute;
    top:10px;
    left:17px;
    width: 1px;
    height: 15px;
    background: #eee;
    animation: mousepathmove 1.4s linear infinite;
    opacity:0;
}

.scrolldown3:before {
    content: "";
    position: absolute;
    bottom:0;
    left:-10px;
    width:25px;
    height:37px;
    border-radius: 10px;
    border:1px solid #eee;
}

.scrolldown3:after{
    content:"";
    position: absolute;
    bottom:26px;
    left:0;
    width:5px;
    height: 5px;
    border-radius: 50%;
    border:1px solid #eee;
}

/* top */
.scroll-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #b09600d8;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s, transform 0.3s;
    z-index: 20; 
}

.scroll-top-button:hover {
    background-color: #ffd900d8;
}

.scroll-top-button i {
    font-size: 18px;
}

/* content */
#content {
    padding: 20px;
}

/* icon */
#icon-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);
    width: 300px; 
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 6;
}

.icon {
    position: absolute;
    font-size: 70px;
    color: white;
    transition: color 0.3s;
    text-align: center;
}

.icon a {
    color: inherit;
}

/* label */
.icon-label {
    font-size: 18px;
    color: white;
    margin-top: -15px;
    text-decoration: underline;
}

/* home */
.home-icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-icon:hover {
    color: #fff56aee;
}

/* blog */
.blog-icon {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blog-icon:hover {
    color: #6ae4ffee;
}

/* album */
.album-icon {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

.album-icon:hover {
    color: #99ff6aee;
}

/* portfolio */
.portfolio-icon {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio-icon:hover {
    color: #d968ffee;
}

/* about */
.about-icon {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.about-icon:hover {
    color: #daa14dee;
}

/* label color */
.icon:hover .icon-label {
    color: inherit; 
}

/* album */
.gallery-container {
    text-align: center;
    padding: 10px;
}

.filter-buttons {
    margin-bottom: 70px;
}

.filter-btn {
    font-family: 'Merriweather', serif;
    padding: 8px 15px;
    margin-top: 80px;
    background-color: white;
    color: black;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 15px;
}

.filter-btn:first-child {
    margin-top: 10px; 
}

/* filter button  */
.filter-btn:not(:first-child) {
    margin-top: 10px; 
}

.filter-btn:hover {
    background-color: #99ff6aee;
    color: black;
}

.filter-btn.active {
    background-color: #607e52ee;
    color: white;
}

/* Gallery container */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

/* Gallery items */
.gallery-item {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1; 
    width: 100%;
    height: auto;
}

/* Gallery images */
.gallery-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease;
}

/* effect */
.gallery-item:hover img {
    transform: scale(1.1); 
}

/* Adjustments for Muuri */
.item {
    display: block;
    padding: 0 10px 10px 10px; 
}

/* portfolio */
.small-image {
    margin-left: 20px;
    width: 300px; 
    height: auto; 
}

.code-container {
    padding-left: 30px;
}

/* code block */
pre.code-block {
    background-color: #ffffffd1;
    color: black;
    font-size: 20px;
    padding-left: 20px;
    margin-left: -10px;
    border-radius: 8px;
    overflow-x: auto; 
    white-space: pre-wrap;
    word-break: break-all; 
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

 /* copy button */
 .copy-button {
    position: relative;
    top: 10px;
    right: 10px;
    background-color: white;
    color: black;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.copy-button:hover {
    background-color: #607e52ee;
    color: white;
}

@keyframes mousepathmove{
    0%{
        height:0;
        top:10px;
        opacity: 0;
    }
    50%{
        height:15px;
        opacity: 1;
    }
    100%{
        height:0;
        top:30px;
        opacity: 0;
    }
}

/* Project buttons container */
.project-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Individual project button */
.project-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #1e1e1ed1;
    border-radius: 10px;
    width: 150px;
    transition: transform 0.3s, background-color 0.3s;
}

/* Icons inside project button */
.project-button img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    transition: width 0.3s, height 0.3s;
}

/* Text inside project button */
.project-text {
    color: white;
}

/* Hover effect for project button */
.project-button:hover {
    background-color: #535353d1;
    transform: translateY(-5px);
}

.project-button i {
    font-size: 50px;
    margin-bottom: 10px;
}

/* media */
@media (max-width: 768px) {
    #search-wrap {
        right: 10px;
    }

    .header-icon, .header-icon-X {
        font-size: 25px;
        margin-left: 5px;
    }

    .header-icon:hover, .header-icon-X:hover {
        color: #fff56aee;
    }

    #title h3 {
        padding-top: 80px;
        font-size: 48px;
    }

    p {
        font-size: 18px;
    }

    footer {
        font-size: 15px;
    }

    #menu-button:hover, #back-button:hover {
        background-color: #ffd900d8;
    }
}
