body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#wrapper {
    text-align: center;
    max-width: 800px;
    padding: 20px;
}

#search-wrap {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 10px;
    width: auto;
}

.header-icon, .header-icon-X {
    color: white;
    font-size: 24px;
    margin-left: 10px;
    text-decoration: none;
}

.header-icon:hover, .header-icon-X:hover {
    color: #fff56aee;
}

#title h3 {
    font-size: 58px;
    padding-top: 80px;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    font-size: 15px;
    margin-top: 20px;
    color: #ccc;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid white; 
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin: 20px 0;
    position: relative;
    overflow: hidden;
}

.custom-button::before {
    content: "";
    position: absolute;
    top: 5px; 
    left: 5px; 
    right: 5px; 
    bottom: 5px; 
    border: 1px solid white; 
    border-radius: 1px;
    transition: border-color 0.3s;
    pointer-events: none; 
}

.custom-button:hover {
    background-color: white;
    color: black;
}

.custom-button:hover::before {
    border-color: black;
}

/* メニューのスタイル */
#menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 150px;
    background: linear-gradient(45deg, #1a2a6c, #b21f1f, #fdbb2d);
    padding: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform: translateY(100%);
    transition: transform 0.3s, opacity 0.3s;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.7);
    z-index: 10;
    opacity: 0; /* 初期状態で透明に */
}

#menu.active {
    transform: translateY(0);
    opacity: 1; /* 表示時に不透明に */
}

/* メニューアイテムのスタイル */
.menu-item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.menu-item i {
    margin-right: 10px; /* アイコンとテキストの間にスペースを作成 */
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}

#menu-button, #back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #b09600d8;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s, transform 0.3s;
    z-index: 20; 
}

#back-button {
    top: 20px;
    left: 20px;
}

#menu-button.rotate {
    transform: rotate(360deg);
}

#menu-button:hover, #back-button:hover {
    background-color: #ffd900d8;
}

#content {
    padding: 20px;
}

@media (max-width: 768px) {
    #search-wrap {
        right: 10px;
    }

    .header-icon, .header-icon-X {
        font-size: 25px;
        margin-left: 5px;
    }

    #title h3 {
        padding-top: 80px;
        font-size: 48px;
    }

    p {
        font-size: 18px;
    }

    footer {
        font-size: 15px;
    }
}
